.card {
  --bs-card-border-width: 0;

  max-width: 420px;
  height: 100%;

    .card-body {
      position: relative;

      .card-icon {
        position: absolute;
        width: 70px;
        top: -35px;
        left: auto;
  
        @media (min-width: 992px) {
          width: 80px;
          top: -40px;
        }
      }
    }
    a {
      img {
      width: 14px;
      margin-left: 1rem;
      transition: transform 0.3s ease;
      }

      &:hover img{
        transform: translateX(8px);
      }
    }
}