.testimonials {
  background: url('../images/background.jpg') no-repeat center center / cover;

  .swiper {
    padding-bottom: 70px;
  
    .swiper-slide {
      cursor: pointer;
      padding: 40px;
      background-color: rgba(255, 255, 255, 0.20);
      border-radius: 10px;
      
      @media (min-width: 1400px) {
        padding: 40px;
      }
    }

    .swiper-pagination-bullet {
      opacity: 1;
      margin: 0 6px;
      background-color: transparent;
      width: 12px;
      height: 12px;
      border: 2px solid white;
      transition: background-color 0.2s ease;

      &-active {
        background-color: $dk-light;
      }
    }
  }
}